<div class="popup-content">
	<span class="close" onclick="displayModal()">&times;</span>
	<h2>Ajouter un Projet</h2>
	<form action="/addForm" method="post" enctype="multipart/form-data">
		<label for="project-name">Nom du Projet:</label>
		<input type="text" id="project-name" name="name" required>

		<label for="project-url">URL du Projet:</label>
		<input type="url" id="project-url" name="url">

		<label for="github-url">URL Github:</label>
		<input type="url" id="github-url" name="urlGithub" required>

		<label for="project-image">Image du Projet:</label>
		<input type="file" id="project-image" name="image" accept="image/*">

		<button type="submit">Ajouter</button>
	</form>
</div></div>
