<header>
	<h1>HY</h1>
	<nav>
		<ul class="nav_bar">
			<li>
				<a href="/accueil" class="{{route == '/accueil' ? 'active':''}}">Accueil</a>
			</li>
			<li>
				<a href="/about" class="{{route == '/about' ? 'active':''}}">À Propos</a>
			</li>
			<li>
				<a href="/portfolio" class="{{route == '/portfolio' ? 'active':''}}">Portfolio</a>
			</li>
			<li>
				<a href="/contact" class="{{route == '/contact' ? 'active':''}}">Contact</a>
			</li>
		</ul>
	</nav>
</header>
