{% extends "../base.twig" %}

{% block style %}
	<link rel="stylesheet" href="./css/about.css">
{% endblock %}

{% block main %}
	<section>
		<h1>Profil</h1>
		<p>Bonjour, je m'appelle Haluk Yucel.
			<br>
			Fort de 10 ans d'expérience en réparation de téléphones,
			<br>
			J'ai acquis une expertise approfondie dans la résolution de problèmes matériels et logiciels
			<br>
			Récemment, j'ai décidé de me reconvertir dans le développement web qui reflète
			<br>
			ma passion pour la technologieet mon désir de relever de nouveaux défis</p>
	</section>
	<hr>
    <section>
    <h2>Compétences</h2>
    <div id="skill">
    <img src="./images/html.png" alt="html">
    <img src="./images/css.png" alt="css">
    <img src="./images/js.png" alt="js">
    <img src="./images/php.png" alt="php">
    <img src="./images/sql.png" alt="sql">
    <img src="./images/nodejs.png" alt="nodejs">
    <img src="./images/mongodb.png" alt="mongodb">
    <img src="./images/github.png" alt="github">
    <img src="./images/wordpress.png" alt="wordpress">
    <img src="./images/figma.png" alt="figma">
    </div>
    </section>
    <hr>
	<section class="design-section">
		<h3>Exprérience</h3>
		<div class="timeline">

			<div class="timeline-empty"></div>

			<div class="timeline-middle">
				<div class="timeline-circle"></div>
			</div>
			<div class="timeline-component timeline-content">
				<h4>2023/2024 - Formation développeur Web et Web Mobile</h4>
				<p>Ecole Ri7, 13400 Aubagne</p>
			</div>
			<div class="timeline-component timeline-content">
				<h4>2014/2023 - Technicien Réparateur Smartphone</h4>
				<p>Multimedia refresh, 13700 Margignane</p>
			</div>
			<div class="timeline-middle">
				<div class="timeline-circle"></div>
			</div>
			<div class="timeline-empty"></div>

			<div class="timeline-empty"></div>

			<div class="timeline-middle">
				<div class="timeline-circle"></div>
			</div>
			<div class=" timeline-component timeline-content">
				<h4>2012/2013 - BNSSA</h4>
				<p>Maître Nageur Sauveteur, CFMS13, 13011 Marseille</p>
			</div>
			<div class=" timeline-component timeline-content">
				<h4>2009/2011 - Bac Pro Commerce</h4>
				<p>Gustave Eiffel, 13400 Aubagne</p>
			</div>
			<div class="timeline-middle">
				<div class="timeline-circle"></div>
			</div>
			<div class="timeline-empty"></div>

			<div class="timeline-empty"></div>

			<div class="timeline-middle">
				<div class="timeline-circle"></div>
			</div>
			<div class=" timeline-component timeline-content">
				<h4>2007/2009 - Bep Vente</h4>
				<p>Gustave Eiffel, 13400 Aubagne</p>
			</div>

		</div>
	</div>
</section>{% endblock %}
